.user-main-details{
    margin: 100px auto;
    width: 30%;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
    background-color: red;
    padding: 10px;
    box-shadow: 0px 0px 15px black;
}
.user-main-details span{
    color: black;
}