.main{
    margin: 100px 500px;
    width: 50%;
    background-color: #888;
    box-sizing: border-box;
    box-shadow:0px 0px 15px black;
    border-radius: 5px;
}
.main input{
    text-align: center;
border-radius: 5px;
    border: none;
    padding: 10px 30px;
    margin-left: 50px;
    margin-top: 10px;
}
.main button{
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;

    /* display: block; */
    padding: 10px 16px;
}
.main table{
    padding: 20px;
}
.main table thead {
    color: white;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-blue: #71b7e6;
  --main-purple: #9b59b6;
  --main-grey: #ccc;
  --sub-grey: #d9d9d9;
}

.Form-body {
  display: flex;
  height: 100vh;
  justify-content: center; /*center vertically */
  align-items: center; /* center horizontally */
  padding: 10px;
}
/* container and form */
.container-form {
  box-shadow: 0px 0px 15px black;

  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}
.container-form .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container-form .title::before {
  content: "";
  position: absolute;
  height: 3.5px;
  width: 30px;
  background: linear-gradient(135deg, var(--main-blue), var(--main-purple));
  left: 0;
  bottom: 0;
}
.container-form form .user__details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.name{
  display: flex;
  justify-content: space-between;
}

.email{
  margin-left: 34px;
}
.profilePic{
  margin-left: 3px;
}
.address{
  margin-left: 6px;
}
@media only screen and (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .user__details .input__box {
    margin-bottom: 15px;
    width: 100%;
  }

  form .gender__details .category {
    width: 100%;
  }

  .container form .user__details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .user__details::-webkit-scrollbar {
    width: 0;
  }
}

.userTable{
  text-align: center;
  background: linear-gradient(135deg,blue,red);
}
.userTable table td{
  margin-left: 10px;
}